%header.navbar.ct-navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "cheapTAPS", root_path, class: "brand pull-left"
      - if user_signed_in?
        %ul.nav.nav-pills.pull-right
          %li
            = link_to venues_path do #user needs to find the venue for the deal first
              %i.icon-plus-sign
              Add A Deal
          = render "shared/user_name"
      #header-tag
        Find beer deals near
        #current-location-human