%h1 Where Is This Deal?
%p here, we want the map pins to show the local bars, user clicks on the pin, and the bubble has a button to add a new deal
%p In case the venue isn't on the map (like if they're rural), have a link to add a venue:
= link_to "Add A Venue", new_venue_path, class: "btn btn-large"