%h1 venue name
%p here, we can list all the deals at this venue irrespective of the date (i.e. we don't care that the deal is for next tuesday here)
= link_to "Add A New Deal", new_venue_deal, class: "btn btn-large"

= link_to 'Edit', edit_venue_path(@venue)
\|
= link_to 'Back', venues_path
