// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time-picker-wrap, .datepicker-wrap {
  .controls {
    input {
      display:none;
    }
  }
  .dw {
    padding:0;
  }
  .dwi {
    margin:0;
  }
}