// http://www.colourlovers.com/palette/2060626/Having_a_beer_with_P
$white:#F9FFFF;
$yellow:#EFC322;
$green:#94A500;
$black:#050004;
$blacker:#030000;

// http://www.colourlovers.com/palette/1530780/Pub_crawl
$cream-stout:#201310;
$abby-brown:#732F0B;
$meantime:#321805;
$cream:#E5CB95;
$red:#9E2013;


//twitter bootstrap customizations
$linkColor:$green;

//navbar stuff
$navbarBrandColor:$cream;

$navbarLinkColor:$cream;
$navbarLinkColorHover:$cream;
$navbarLinkColorActive:$cream;

$navbarHeight:45px;
$navbarBackground:$cream-stout;
$navbarBackgroundHighlight:$meantime;


//fonts
$sansFontFamily: "Helvetica Neue", "Segoe UI", sans-serif;
$serifFontFamily: serif;
$header-font-family: 'Arvo', serif;

body {
}

h1, h2, h3, h4, h5, h6 {
  @extend .header-style;
}

.header-style {
  // text-transform: uppercase;
  font-family:$header-font-family;  
}